[
  {"artist": "Snap!", "title": "Rhythm Is A Dancer"},
  {"artist": "Haddaway", "title": "What Is Love"},
  {"artist": "Culture Beat", "title": "Mr. Vain"},
  {"artist": "Dr. Alban", "title": "Sing Hallelujah!"},
  {"artist": "Vengaboys", "title": "We Are Going To Ibiza!"},
  {"artist": "Captain Hollywood Project", "title": "More And More"},
  {"artist": "Corona", "title": "The Rhythm Of The Night"},
  {"artist": "Jam & Spoon", "title": "Right In The Night"},
  {"artist": "2 Unlimited", "title": "No Limit"},
  {"artist": "Whigfield", "title": "Saturday Night"},
  {"artist": "ICE MC", "title": "Think About The Way"},
  {"artist": "B.G. The Prince Of Rap", "title": "The Colour Of My Dreams"},
  {"artist": "Interactive", "title": "Forever Young"},
  {"artist": "La Bouche", "title": "Be My Lover"},
  {"artist": "Real McCoy", "title": "Another Night"},
  {"artist": "Eiffel 65", "title": "Blue (Da Ba Dee)"},
  {"artist": "Charly Lownoise & Mental Theo", "title": "Wonderful Days"},
  {"artist": "Masterboy", "title": "Feel The Heat Of The Night"},
  {"artist": "Pharao", "title": "There Is A Star"},
  {"artist": "Magic Affair", "title": "Omen III"},
  {"artist": "Captain Jack", "title": "Captain Jack"},
  {"artist": "Faithless", "title": "Insomnia"},
  {"artist": "Zombie Nation", "title": "Kernkraft 400 (DJ Gius Video Cut)"},
  {"artist": "Robin S.", "title": "Show Me Love"},
  {"artist": "Members Of Mayday", "title": "Sonic Empire"},
  {"artist": "Gigi D'Agostino", "title": "Bla Bla Bla"},
  {"artist": "Wamdue Project", "title": "King Of My Castle"},
  {"artist": "Reel 2 Real Feat. The Mad Stuntman", "title": "I Like To Move It"},
  {"artist": "Technotronic Feat. Felly", "title": "Pump Up The Jam"},
  {"artist": "Run-DMC Vs. Jason Nevins", "title": "It's Like That"},
  {"artist": "Felix", "title": "Don't You Want Me"},
  {"artist": "Brooklyn Bounce", "title": "The Theme (Of Progressive Attack)"},
  {"artist": "Da Hool", "title": "Meet Her At The Loveparade"},
  {"artist": "Niels Van Gogh Vs. Eniac", "title": "Pulverturm"},
  {"artist": "Jens", "title": "Loops & Tings"},
  {"artist": "Jones & Stephenson", "title": "The First Rebirth"},
  {"artist": "Westbam", "title": "Celebration Generation"},
  {"artist": "Dune (3)", "title": "Hardcore Vibes"},
  {"artist": "Music Instructor Feat. Flying Steps", "title": "Super Sonic"},
  {"artist": "U96", "title": "Das Boot"},
  {"artist": "Marusha", "title": "Somewhere Over The Rainbow"},
  {"artist": "Scooter", "title": "Hyper Hyper"},
  {"artist": "Robert Miles", "title": "Children"},
  {"artist": "ATB", "title": "9 PM (Till I Come)"},
  {"artist": "Nalin & Kane", "title": "Beachball"},
  {"artist": "Sash!", "title": "Ecuador"},
  {"artist": "Energy 52", "title": "Cafe Del Mar (Three 'N One Radio Mix)"},
  {"artist": "RMB", "title": "Redemption"},
  {"artist": "Schiller", "title": "Das Glockenspiel"},
  {"artist": "Three 'N One", "title": "Reflect"},
  {"artist": "Guru Josh", "title": "Infinity"},
  {"artist": "Kai Tracid", "title": "Your Own Reality"},
  {"artist": "Rozalla", "title": "Everybody's Free (To Feel Good)"},
  {"artist": "Sunbeam", "title": "Outside World"},
  {"artist": "DJ Sakin & Friends", "title": "Protect Your Mind (Braveheart)"},
  {"artist": "Cappella", "title": "U Got 2 Let The Music"},
  {"artist": "DJ BoBo", "title": "Somebody Dance With Me"},
  {"artist": "Mark 'Oh", "title": "Tears Don't Lie"},
  {"artist": "Prince Ital Joe Feat. Marky Mark", "title": "Happy People"},
  {"artist": "French Affair", "title": "My Heart Goes Boom (La Di Da Da)"},
  {"artist": "Future Breeze", "title": "Why Don't You Dance With Me"},
  {"artist": "Yello & Jam & Spoon", "title": "You Gotta Say Yes To Another Excess"},
  {"artist": "Sven Väth", "title": "L'Esperanza"},
  {"artist": "Snap!", "title": "The Power (7\" Version)"},
  {"artist": "Dr. Alban", "title": "It's My Life"},
  {"artist": "Ace Of Base", "title": "All That She Wants"},
  {"artist": "Vengaboys", "title": "Boom, Boom, Boom, Boom (Airplay Version)"},
  {"artist": "Gigi D'Agostino", "title": "L' Amour Toujours"},
  {"artist": "Scatman John", "title": "Scatman (Ski-Ba-Bop-Ba-Dop-Bop) (Basic Radio)"},
  {"artist": "Los Del Rio", "title": "Macarena (Bayside Boys Remix)"},
  {"artist": "Mr. President", "title": "Coco Jamboo"},
  {"artist": "Salt-N-Pepa*", "title": "Let's Talk About Sex"},
  {"artist": "No Mercy", "title": "Where Do You Go"},
  {"artist": "DJ BoBo", "title": "Everybody"},
  {"artist": "Haddaway", "title": "Life"},
  {"artist": "Eiffel 65", "title": "Move Your Body (D.J. Gabry Ponte Original Video Edit)"},
  {"artist": "Gala", "title": "Freed From Desire"},
  {"artist": "Masterboy", "title": "Generation Of Love"},
  {"artist": "Love Message", "title": "Love Message"},
  {"artist": "Cappella", "title": "Move On Baby"},
  {"artist": "Culture Beat", "title": "Got To Get It"},
  {"artist": "Ann Lee", "title": "2 Times (Edit Mix)"},
  {"artist": "Music Instructor Feat. Abe (2)", "title": "Get Freaky"},
  {"artist": "Mr. Oizo", "title": "Flat Beat"},
  {"artist": "Bomfunk MC's", "title": "Freestyler"},
  {"artist": "Scooter", "title": "How Much Is The Fish?"},
  {"artist": "Mark 'Oh", "title": "Love Song (Original Short Mix)"},
  {"artist": "Dune (3)", "title": "Can't Stop Raving"},
  {"artist": "E-Rotic", "title": "Max Don't Have Sex With Your Ex"},
  {"artist": "La Bouche", "title": "Sweet Dreams"},
  {"artist": "ICE MC", "title": "It's a Rainy Day"},
  {"artist": "Real McCoy", "title": "Run Away (Single Version)"},
  {"artist": "Captain Hollywood Project", "title": "Flying High"},
  {"artist": "U96", "title": "Club Bizarre"},
  {"artist": "Prince Ital Joe Feat. Marky Mark", "title": "United"},
  {"artist": "Double You", "title": "Please Don't Go"},
  {"artist": "The Soundlovers", "title": "Runaway (Summer Reprise)"},
  {"artist": "Blümchen", "title": "Boomerang"},
  {"artist": "Technohead", "title": "I Wanna Be A Hippy"},
  {"artist": "2 Unlimited", "title": "Tribal Dance"},
  {"artist": "Pharao", "title": "I Show You Secrets"},
  {"artist": "Urban Cookie Collective", "title": "The Key The Secret"},
  {"artist": "Rozalla", "title": "Are You Ready To Fly"},
  {"artist": "The 49ers*", "title": "Touch Me"},
  {"artist": "Pizzaman", "title": "Sex On The Streets"},
  {"artist": "Crystal Waters", "title": "Gypsy Woman (La Da Dee La Da Da)"},
  {"artist": "Suzanne Vega", "title": "Tom's Diner (DNA Remix)"},
  {"artist": "Faithless", "title": "God Is A DJ"},
  {"artist": "Darude", "title": "Sandstorm"},
  {"artist": "Alice Deejay", "title": "Better Off Alone"},
  {"artist": "ATB", "title": "Don't Stop (Airplay Edit)"},
  {"artist": "Chicane", "title": "Saltwater"},
  {"artist": "Sash!", "title": "Encore Une Fois"},
  {"artist": "Mauro Picotto", "title": "Komodo"},
  {"artist": "Brooklyn Bounce", "title": "Get Ready To Bounce (Radio Attack)"},
  {"artist": "Rollergirl", "title": "Dear Jessie"},
  {"artist": "Blank & Jones", "title": "Heartbeat (Videomix)"},
  {"artist": "Kai Tracid", "title": "Dance For Eternity"},
  {"artist": "Jam & Spoon Feat. Plavka", "title": "Find Me (Odyssey To Anyoona)"},
  {"artist": "DJ Sakin & Friends", "title": "Nomansland (David's Song) (Vocal Radio Cut)"},
  {"artist": "Dance 2 Trance", "title": "Power Of American Natives"},
  {"artist": "Dr. Motte And Westbam*", "title": "Sunshine"},
  {"artist": "Storm", "title": "Storm"},
  {"artist": "Members Of Mayday", "title": "Soundtropolis"},
  {"artist": "Phil Fuldner", "title": "The Final (The Captain Future Theme)"},
  {"artist": "Celvin Rotane", "title": "I Believe"},
  {"artist": "Technotronic Feat. MC Eric", "title": "This Beat Is Technotronic"},
  {"artist": "Azzido Da Bass", "title": "Dooms Night (Timo Maas Radio Edit)"},
  {"artist": "Elektrochemie LK", "title": "Schall (Thomas Schuhmacher Remix Radio Edit)"},
  {"artist": "Gigi D'Agostino", "title": "The Riddle (Single Cut)"},
  {"artist": "Vengaboys", "title": "We Like To Party"},
  {"artist": "Scooter", "title": "Faster Harder Scooter"},
  {"artist": "Rednex", "title": "Cotton Eye Joe"},
  {"artist": "Aqua", "title": "Barbie Girl (Radio Edit)"},
  {"artist": "Bellini", "title": "Samba De Janeiro"},
  {"artist": "Loona", "title": "Bailando"},
  {"artist": "Mousse T. Vs. Hot 'N' Juicy", "title": "Horny '98 (Radio Edit)"},
  {"artist": "Dario G", "title": "Sunchyme (Radio Edit)"},
  {"artist": "Whigfield", "title": "Sexy Eyes"},
  {"artist": "Captain Jack", "title": "Drill Instructor"},
  {"artist": "DJ Bobo", "title": "Let The Dream Come True (Radio Mix)"},
  {"artist": "Cut 'N' Move", "title": "Give It Up"},
  {"artist": "Scatman John", "title": "Scatman's World (Single Mix)"},
  {"artist": "Haddaway", "title": "Rock My Heart"},
  {"artist": "Mr. President", "title": "I Give You My Heart (Radio Version)"},
  {"artist": "X-Perience", "title": "A Neverending Dream (Radio Version)"},
  {"artist": "Charly Lownoise & Mental Theo", "title": "Stars"},
  {"artist": "Prezioso Feat. Marvin", "title": "Tell Me Why (Radio Edit Mix)"},
  {"artist": "Aquagen", "title": "Ihr Seid So Leise! (Radio Mix)"},
  {"artist": "Mark 'Oh", "title": "Randy (Never Stop That Feeling)"},
  {"artist": "Blümchen", "title": "Herz An Herz (Herz In Der Luft Radio Mix)"},
  {"artist": "Scooter", "title": "Move Your Ass"},
  {"artist": "Ace Of Base", "title": "Beautiful Life"},
  {"artist": "Dune (3)", "title": "Million Miles From Home"},
  {"artist": "2 Brothers On The 4th Floor", "title": "Dreams (Will Come Alive)"},
  {"artist": "Snap! Feat. Summer", "title": "The First The Last Eternity (Till The End)"},
  {"artist": "Culture Beat", "title": "Inside Out (Radio Edit)"},
  {"artist": "Zhi-vago", "title": "Celebrate (The Love) (Radio Version)"},
  {"artist": "2 Unlimited", "title": "Get Ready (Rap Version Edit)"},
  {"artist": "The Outhere Brothers", "title": "Boom Boom Boom (Don't Break My Balls Radio Mix)"},
  {"artist": "Corona", "title": "Baby Baby"},
  {"artist": "Dr. Alban", "title": "Let The Beat Go On (Short)"},
  {"artist": "U96", "title": "Heaven"},
  {"artist": "Cappella", "title": "Move It Up"},
  {"artist": "Intermission", "title": "Piece Of My Heart (Single Mix)"},
  {"artist": "Masterboy", "title": "Show Me Colours"},
  {"artist": "Red 5", "title": "Da Beat Goes (Radio Version)"},
  {"artist": "General Base", "title": "Rhythm & Drums (Pt. 2)"},
  {"artist": "Mauro Picotto", "title": "Iguana (On Air Mix)"},
  {"artist": "Brooklyn Bounce", "title": "The Real Bass"},
  {"artist": "DJ Jean", "title": "The Launch (Radio Edit)"},
  {"artist": "Hypetraxx", "title": "The Darkside"},
  {"artist": "20 Fingers Feat. Gillette", "title": "Short Dick Man (Short Radio Edit)"},
  {"artist": "C+C Music Factory* Feat. Freedom Williams", "title": "Gonna Make You Sweat (Everybody Dance Now)"},
  {"artist": "Technotronic", "title": "Get Up (Before The Night Is Over)"},
  {"artist": "Everything But The Girl", "title": "Missing (Todd Terry Remix / Radio Edit)"},
  {"artist": "Faithless", "title": "Salva Mea (Radio Edit)"},
  {"artist": "Robin S.", "title": "Luv 4 Luv"},
  {"artist": "Dimples D", "title": "Sucker DJ (A Witch For Love)"},
  {"artist": "DJ Tonka", "title": "She Knows You (Radio Edit)"},
  {"artist": "Undercover", "title": "Baker Street (Radio Edit)"},
  {"artist": "Jam & Spoon", "title": "Stella (Radio Edit)"},
  {"artist": "Schiller", "title": "Liebesschmerz (Fernseh-Fassung)"},
  {"artist": "DJ Quicksilver", "title": "Bellissima (Radio Mix)"},
  {"artist": "Watergate", "title": "Merry Christmas Mr. Lawrence (Heart Of Asia) (DJ Quicksilver's Radio Edit)"},
  {"artist": "The Thrillseekers Feat. Sheryl Deane", "title": "Synaesthesia (Fly Away) (Radio Edit)"},
  {"artist": "Sash! Feat. La Trec", "title": "Stay (Single Edit)"},
  {"artist": "Fragma", "title": "Toca Me (Radio Cut)"},
  {"artist": "Robert Miles Feat. Maria Nayler", "title": "One And One (Radio Version)"},
  {"artist": "Alice Deejay", "title": "Back In My Life (Hitradio Full Vocal)"},
  {"artist": "Kai Tracid", "title": "Liquid Skies"},
  {"artist": "Blank & Jones", "title": "Cream"},
  {"artist": "Delerium", "title": "Silence (DJ Tiësto's in Search Of Sunrise Remix Edit)"},
  {"artist": "RMB", "title": "Spring"},
  {"artist": "Paul van Dyk", "title": "For an Angel (PvD Angel in Heaven Radio Edit)"}
]